{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Displays{% endblock %}</h1>
  <a class="action" href="{{ url_for('logs.create') }}">New</a>
{% endblock %}

{% block content %}
  {% for mac in macs %}
    <article class="mac">
      <header>
        <div>
          <h1>Room: {{ mac["roomname"] }}, MAC-Address: {{ mac['macname'] }}</h1>
          {%if not mac["battery"] == None%}
            <div class="battery">Battery: {{ mac["battery"] }}<div>
          {% else %}
            <div class="battery">Battery: No Data<div>
          {% endif %}
        </div>
        <a class="action" href="{{ url_for('logs.log', id=mac['macid']) }}">More Battery Information</a>
        <a class="action" href="{{ url_for('logs.upload_image', id=mac['macid']) }}">Upload Image</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}